
@{
    ViewBag.Title = "EditarVenta";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>EditarVenta</h2>

<script>
    $(document).ready(
        function () {
            $("#msj").hide();
            $("#btnGuardar").click(
                function () {
                    $.ajax({
                        url: '@Url.Action("Actualizar", "Mantenedor")',
                        type: 'POST',
                        data: $("#formulario").serialize(),
                        success: function (result) {
                            //alert(result);
                            if (result === 'true') {
                                $("#msj").show(2000).delay(2000).fadeOut(2000);
                                setTimeout(function () { $(location).attr('href', '@Url.Action("PanelUsuario", "Tienda")'); }, 4000);
                            }
                            else {
                                alert(result);
                            }
                        }
                    }
                    );
                }

            );
        }
    );
</script>

<center>
    <div id="msj" class="alert alert-success">
        Registro ingresado con exito
    </div>
    <form id="formulario">
        <input type="hidden" name="bd" id="bd" value="Ventas" />
        <table>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>

                <td>ID venta</td>
                <td><input class="form-control" type="text" id="idVenta" name="idVenta" value="@Request["id"]" readonly /></td>
            </tr>
            <tr>

                <td>ID usuario</td>
                <td>
                    <select class="form-control" id="idUsuario" name="idUsuario">
                        @{
                            TiendaRestaurant.Models.Clases.OperacionesUsuarios opuser = new TiendaRestaurant.Models.Clases.OperacionesUsuarios();
                            foreach (TiendaRestaurant.Models.Usuarios users in opuser.TraerTodo())
                            {
                                if (users.idUsuario == int.Parse(Request["idUsu"].ToString()))
                                {
                                    <option selected value="@users.idUsuario">@users.nombreUsuario</option>
                                }
                                else
                                {
                                    <option  value="@users.idUsuario">@users.nombreUsuario</option>
                                }
                            }
                        }
                    </select>
                </td>

            </tr>
            <tr>
                <td>
                    ID producto
                </td>
                <td>
                    @*<input class="form-control" type="text" value="@Request["idProd"]" id="idProducto" name="idProducto" />*@

                    <select class="form-control" id="idProducto" name="idProducto">
                        @{
                            TiendaRestaurant.Models.Clases.OperacionesProductos opod = new TiendaRestaurant.Models.Clases.OperacionesProductos();
                            foreach (TiendaRestaurant.Models.Productos users in opod.TraerTodo())
                            {
                                if (users.idProducto == int.Parse(Request["idProd"].ToString()))
                                {
                                    <option selected value="@users.idProducto">@users.nombreProducto</option>
                                }
                                else
                                {
                                <option value="@users.idProducto">@users.nombreProducto</option>
                                    }
                                }
                            }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Fecha
                </td>
                <td>
                    <input class="form-control" type="datetime" value="@Request["fecha"]" id="fecha" name="fecha" />
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td><input type="button" class="btn btn-primary" id="btnGuardar" name="btnGuardar" value="Guardar" /></td>
            </tr>
        </table>
    </form>
</center>

