@{
    ViewBag.Title = "PanelUsuario";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="~/Scripts/css/estilosTabs.css" rel="stylesheet" />
<script src="~/Scripts/js/jsTabs.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/jsMantenedor/jsDatatable.js"></script>
<script type="text/javascript">
    function Borrar(id,bd) {
        var txt;
        var r = confirm("Seguro que quiere borrar este registro");
        
        if (r == true) {
            var parms = { 'id': id, 'bd': bd };
            $.ajax({
                        url: '@Url.Action("Borrar", "Mantenedor")',
                        type: 'POST',
                data: parms,
                        success: function (result) {
                            //alert(result);
                            if (result === 'true') {
                                $("#msj").show(2000).delay(2000).fadeOut(2000);
                                $("#TMensajes").load(location.href + " #TMensajes>*", "");
                                $("#TNoticias").load(location.href + " #TNoticias>*", "");
                                $("#TUsuarios").load(location.href + " #TUsuarios>*", "");
                                $("#TProductos").load(location.href + " #TProductos>*", "");
                                $("#TVentas").load(location.href + " #TVentas>*", "");

                            }
                            
                            else {
                                $("#msj").show(2000).delay(2000).fadeOut(2000);
                            }
                        }
                    }
                    );
        } 
    }
</script>

<body>

    <h2>PanelUsuario</h2>

    <p>Seleccione la tablas a ver</p>


    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Mensajes')">Mensajes</button>
        <button class="tablinks" onclick="openCity(event, 'Noticias')">Noticias</button>
        <button class="tablinks" onclick="openCity(event, 'Usuarios')">Usuarios</button>
        <button class="tablinks" onclick="openCity(event, 'Productos')">Productos</button>
        <button class="tablinks" onclick="openCity(event, 'Ventas')">Ventas</button>
    </div>

    <!-- Tab content -->
    <div id="Mensajes" class="tabcontent">
        <h3>Mensajes</h3>
        <a href="@Url.Action("AgregarMensaje", "Mantenedor")">
            <img src="~/Scripts/images/toggle01.png" /> agregar nuevo registro
        </a>
        <table id="TMensajes">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Texto mensaje</th>
                    <th>fecha</th>
                    <th>EmailRemitente</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{
                    TiendaRestaurant.Models.Clases.OperacionesMensajes msj = new TiendaRestaurant.Models.Clases.OperacionesMensajes();
                    foreach (TiendaRestaurant.Models.Mensajes dato in msj.TraerTodo())
                    {
                        <tr>
                            <th>@dato.idMensaje</th>
                            <th>@dato.textoMensaje</th>
                            <th>@dato.fecha</th>
                            <th>@dato.emailRemitente</th>
                            <th> <a href="@Url.Action("EditarMensaje", "Mantenedor")?id=@dato.idMensaje&mensaje=@dato.textoMensaje&fecha=@dato.fecha&email=@dato.emailRemitente" > <img src="~/Scripts/images/edit.png" /></a> 
                            <a href="javascript:void(0)"onclick="Borrar(@dato.idMensaje,'Mensajes');"><img src="~/Scripts/images/delete.png" /></a>    </th>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>

    <div id="Noticias" class="tabcontent">
        <h3>Noticias</h3>
        <a href="@Url.Action("AgregarNoticia", "Mantenedor")">
            <img src="~/Scripts/images/toggle01.png" /> agregar nuevo registro
        </a>
        <table id="TNoticias">
            <thead>
                <tr>
                    <th>id</th>
                    <th>FechaNoticia</th>
                    <th>textoNoticia</th>
                    <th>idAutor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{
                    TiendaRestaurant.Models.Clases.OperacionesNoticias noti = new TiendaRestaurant.Models.Clases.OperacionesNoticias();
                    foreach (TiendaRestaurant.Models.Noticias dato in noti.TraerTodo())
                    {
                        <tr>
                            <th>@dato.idAutor</th>
                            <th>@dato.FechaNoticia</th>
                            <th>@dato.textoNoticia</th>
                            <th>@dato.idAutor</th>
                            <th> <a href="@Url.Action("EditarNoticia", "Mantenedor")?id=@dato.idAutor&fecha=@dato.FechaNoticia&texto=@dato.textoNoticia&idAutor=@dato.idAutor"> <img src="~/Scripts/images/edit.png" /></a> <a href="javascript:void(0)" onclick="Borrar(@dato.idNoticia,'Noticias');"><img src="~/Scripts/images/delete.png" /></a>    </th>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>

    <div id="Usuarios" class="tabcontent">
        <h3>Usuarios</h3>
        <a href="@Url.Action("AgregarUsuario", "Mantenedor")">
            <img src="~/Scripts/images/toggle01.png" /> agregar nuevo registro
        </a>
        <table id="TUsuarios" name="dataTable">
            <thead>
                <tr>
                    <th>idUsuario</th>
                    <th>nombreUsuario</th>
                    <th>password</th>
                    <th>pnombre</th>
                    <th>snombre</th>
                    <th>apat</th>
                    <th>amat</th>
                    <th>fechaRegistro</th>
                    <th>tipoUsuario</th>
                    <th>email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{
                    TiendaRestaurant.Models.Clases.OperacionesUsuarios users = new TiendaRestaurant.Models.Clases.OperacionesUsuarios();
                    foreach (TiendaRestaurant.Models.Usuarios dato in users.TraerTodo())
                    {
                        <tr>
                            <th>@dato.idUsuario</th>
                            <th>@dato.nombreUsuario</th>
                            <th>@dato.password</th>
                            <th>@dato.pnombre</th>
                            <th>@dato.snombre</th>
                            <th>@dato.apat</th>
                            <th>@dato.amat</th>
                            <th>@dato.fechaRegistro</th>
                            <th>@dato.tipoUsuario</th>
                            <th>@dato.email</th>
                            <th> <a href="@Url.Action("EditarUsuario", "Mantenedor")?id=@dato.idUsuario&username=@dato.nombreUsuario&password=@dato.password&pnombre=@dato.pnombre&snombre=@dato.snombre&apat=@dato.apat&amat=@dato.amat&fecha=@dato.fechaRegistro&tipo=@dato.tipoUsuario&email=@dato.email"> <img src="~/Scripts/images/edit.png" /></a>  <a href="javascript:void(0)" onclick="Borrar(@dato.idUsuario,'Usuarios');"><img src="~/Scripts/images/delete.png" /></a>    </th>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
    <div id="Productos" class="tabcontent">
        <h3>Productos</h3>
        <a href="@Url.Action("AgregarProducto", "Mantenedor")">
            <img src="~/Scripts/images/toggle01.png" /> agregar nuevo registro
        </a>
        <table id="TProductos">
            <thead>
                <tr>
                    <th>idProducto</th>
                    <th>nombreProducto</th>
                    <th>precio</th>
                    <th>stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{
        TiendaRestaurant.Models.Clases.OperacionesProductos prod = new TiendaRestaurant.Models.Clases.OperacionesProductos();
        foreach (TiendaRestaurant.Models.Productos dato in prod.TraerTodo())
        {
            <tr>
                <th>@dato.idProducto</th>
                <th>@dato.nombreProducto</th>
                <th>@dato.precio</th>
                <th>@dato.stock</th>
                <th> <a href="@Url.Action("EditarProducto", "Mantenedor")?id=@dato.idProducto&nombre=@dato.nombreProducto&precio=@dato.precio&stock=@dato.stock"> <img src="~/Scripts/images/edit.png" /></a>  <a href="javascript:void(0)" onclick="Borrar(@dato.idProducto,'Productos');"><img src="~/Scripts/images/delete.png" /></a>    </th>
            </tr>
}

                }
            </tbody>
        </table>
    </div>
    <div id="Ventas" class="tabcontent">
        <h3>Ventas</h3>
        <a href="@Url.Action("AgregarVenta", "Mantenedor")">
            <img src="~/Scripts/images/toggle01.png" /> agregar nuevo registro
        </a>
        <table id="TVentas">
            <thead>
                <tr>
                    <th>idVenta</th>
                    <th>idUsuario</th>
                    <th>idProducto</th>
                    <th>fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{
                    TiendaRestaurant.Models.Clases.OperacionesVentas vent = new TiendaRestaurant.Models.Clases.OperacionesVentas();
                    foreach (TiendaRestaurant.Models.Ventas dato in vent.TraerTodo())
                    {
                        <tr>
                            <th>@dato.idVenta</th>
                            <th>@dato.idUsuario</th>
                            <th>@dato.idProducto</th>
                            <th>@dato.fecha</th>
                            <th> <a href="@Url.Action("EditarVenta", "Mantenedor")?id=@dato.idVenta&idUsu=@dato.idUsuario&idProd=@dato.idProducto&fecha=@dato.fecha"> <img src="~/Scripts/images/edit.png" /></a>  <a href="javascript:void(0)" onclick="Borrar(@dato.idVenta,'Ventas');"><img src="~/Scripts/images/delete.png" /></a>    </th>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</body>
